.maze {
  display: inline-block;
}

.row {
  display: flex;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.P {
  background-color: white;
  color: white;
}

.cell.W {
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 10px;
}